+include-style('catalog-targets')
.catalog-targets.catalog-targets--inner
	.catalog-targets__list.fz-16
		a(href="#").catalog-targets__link Все
		a(href="#").catalog-targets__link Аксессуары
		a(href="#").catalog-targets__link Блоки питания и батареи
		a(href="#").catalog-targets__link Видеокамеры
		a(href="#").catalog-targets__link Видеорегистраторы
		a(href="#").catalog-targets__link Зарядные устройства
		a(href="#").catalog-targets__link Колонки
		a(href="#").catalog-targets__link Наборы с мультитулами