+include-style('catalog-targets')
.catalog-targets
	.catalog-targets__list.fz-16
		a(href="#").catalog-targets__link Все (426)
		a(href="#").catalog-targets__link Аксессуары (56)
		a(href="#").catalog-targets__link Блоки питания и батареи (26)
		a(href="#").catalog-targets__link Видеокамеры (75)
		a(href="#").catalog-targets__link Видеорегистраторы (28)
		a(href="#").catalog-targets__link Зарядные устройства (40)
		a(href="#").catalog-targets__link Колонки (12)
		a(href="#").catalog-targets__link Наборы с мультитулами (36)