+include-style('phones-list')
.phones-list
	.phones-list__item
		.phones-list__icon
			+icon('i-phone')(style="width: 24px; height: 24px")
		a(href="tel:+375173364044").phones-list__link +375(17)336-40-44
	.phones-list__item
		.phones-list__icon
			+icon('i-a1')(style="width: 24px; height: 24px")
		a(href="tel:+375173364044").phones-list__link +375(44)500-74-74
	.phones-list__item
		.phones-list__icon
			+icon('i-mts')(style="width: 24px; height: 24px")
		a(href="tel:+375173364044").phones-list__link +375(29)801-74-74
	.phones-list__item
		.phones-list__icon
			+icon('i-life')(style="width: 24px; height: 24px")
		a(href="tel:+375173364044").phones-list__link +375(25)500-74-74
	.phones-list__item
		.phones-list__icon
			+icon('i-mail')(style="width: 24px; height: 24px")
		a(href="mailto:seon@gmail.com").phones-list__link Seon@gmail.com
