+include-style('pagination')
.paginations
	ul.paginations__list
		li.paginations__item.paginations__item--first
			a.paginations__link(href='#')
				+icon('i-arrow-small')(style="width: 12px; height: 12px; transform: rotate(-180deg)")
		li.paginations__item
			a.paginations__link(href='#') 1
		//- li.paginations__item
		//- 	span.paginations__link ...
		//- li.paginations__item
			a.paginations__link(href='#') 11
		li.paginations__item
			a.paginations__link(href='#') 12
		li.paginations__item.paginations__item--active
			a.paginations__link(href='#') 13
		li.paginations__item
			a.paginations__link(href='#') 14
		//- li.paginations__item
			a.paginations__link(href='#') 15
		li.paginations__item
			span.paginations__link ...
		li.paginations__item
			a.paginations__link(href='#') 42
		li.paginations__item.paginations__item--last
			a.paginations__link(href='#')
				+icon('i-arrow-small')(style="width: 12px; height: 12px")