@import "src/assets/css/vars_mixins/vars_mixins";
.catalog-sort {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    &__left {
        @media (max-width: $lg - 1) {
            display: none;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        @media (max-width: $lg - 1) {
            justify-content: space-between;
            width: 100%;
        }
    }
}