+modal({
	id: 'modal-feedback',
	mod: 'modal-feedback modal-narrow',
	title: 'Заказать звонок',
	header: true
})
	form.bv-form
		+input({
			label: 'Ваше имя',
			fg_mod: 'form-group--margin',
			type: 'text',
			name: false,
			small: false,
			placeholder: '',
			required: true,
			validation: {
				message: 'Заполните поле',
				regexp: 'Неверный формат',
				emailaddress: ' ',
				identical: false
			}
		})
		+input({
			label: 'Телефон',
			fg_mod: 'form-group--margin',
			type: 'tel',
			name: false,
			small: false,
			placeholder: '+375 (__) ___-__-__',
			required: true,
			pattern: 'phone',
			validation: {
				message: 'Заполните поле',
				regexp: 'Неверный формат',
				emailaddress: ' ',
				identical: false
			}
		})
		+textarea({
			fg_mod: 'form-group--margin',
			label: 'Комментарий',
			required: true,
		})
		+checkbox({
			fg_mod: 'form-group--margin',
			policy: true,
			require:true,
		})
		button(type="submit").btn.btn--primary.btn--fw Отправить


