+include-style('catalog-product-list')

script.
	//- remove on integration
	setTimeout(() => {
		$('.catalog-product-list').removeClass('preloader');
	},2000)


.catalog-product-list.preloader.preloader-list
	.product-card-wrap
		+product-card({
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			favourites: true,
			availability: 'available',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			discount: '-12%',
			img:'/images/product-2.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'available',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			discount: '-12%',
			img:'/images/product-3.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'order',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-4.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'unavailable',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-2.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-2.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: 'product-card--unavailable',
			discount: '-12%',
			img:'/images/product-1.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'false',
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})

include ../pagination/pagination