+include-style('personal-history')

.personal-history-detail
	.personal-history-detail__block
		.personal-history-detail__header
			.personal-history-detail__header-left Информация о заказе
			a(href='#').personal-history-detail__header-right Повторить заказ
		.personal-history-detail__body
			.personal-history-detail__row
				.personal-history-detail__col
					.personal-history-detail__prop Номер заказа
					.personal-history-detail__val №321-431
				.personal-history-detail__col
					.personal-history-detail__prop Cтатус заказа
					.personal-history-detail__val.completed Выполнен
				.personal-history-detail__col
					.personal-history-detail__prop Сумма
					.personal-history-detail__val <b>515,00 BYN </b>
				.personal-history-detail__col
					.personal-history-detail__prop Дата
					.personal-history-detail__val 05.12.2021 
				.personal-history-detail__col
					.personal-history-detail__prop Статус оплаты
					.personal-history-detail__val.canceled Не оплачен
	.personal-history-detail__block
		.personal-history-detail__header
			.personal-history-detail__header-left Контактные данные 
		.personal-history-detail__body
			.personal-history-detail__row
				.personal-history-detail__col
					.personal-history-detail__prop ФИО
					.personal-history-detail__val Кравченко Анатолий Александрович
				.personal-history-detail__col
					.personal-history-detail__prop Телефон
					.personal-history-detail__val +375 29 635 63 96
				.personal-history-detail__col
					.personal-history-detail__prop E-mail
					.personal-history-detail__val KravchenkoAn@gmail.com
	.personal-history-detail__block
		.personal-history-detail__header
			.personal-history-detail__header-left Параметры доставки
		.personal-history-detail__body
			.personal-history-detail__grid
				.personal-history-detail__prop Способ доставки
				.personal-history-detail__val Самовывоз
				.personal-history-detail__prop Стоимость доставки
				.personal-history-detail__val 0 BYN
				.personal-history-detail__prop Адрес доставки
				.personal-history-detail__val г.Волчковичи. Ул Кузьмы Черного 1. Оф.321
	.personal-history-detail__block
		.personal-history-detail__header
			.personal-history-detail__header-left Параметры оплаты
		.personal-history-detail__body
			.personal-history-detail__grid
				.personal-history-detail__prop Номер заказа
				.personal-history-detail__val №321-431
				.personal-history-detail__prop Способ оплаты
				.personal-history-detail__val Оплата онлайн
				.personal-history-detail__prop Статус оплаты
				.personal-history-detail__val.canceled Не оплачен
				.personal-history-detail__prop Статус оплаты
				.personal-history-detail__val.completed Оплачен
				.personal-history-detail__prop Сумма к оплате
				.personal-history-detail__val 515.00 BYN
			.personal-history-detail__pay
				a(href='#').btn.btn--primary Оплатить
	.personal-history-detail__block
		.personal-history-detail__header
			.personal-history-detail__header-left Комментарий к заказу
		.personal-history-detail__body
			.personal-history-detail__comment Добрый день! Не работает домофон. Просьба позвонить на указанный номер телефона, когда курьер будет подъезжать к дому.
	.personal-history-detail__block
		.personal-history-detail__header
			.personal-history-detail__header-left Содержимое заказа
		.personal-history-detail__body
			.personal-history-detail-table
				.personal-history-detail-table__head.personal-history-detail-table__td
					.personal-history-detail-table__head-item Наименование
					.personal-history-detail-table__head-item Стоимость
					.personal-history-detail-table__head-item Количество
					.personal-history-detail-table__head-item Общая сумма
				.personal-history-detail-table__head
					.personal-history-detail-table__head-item
						+lazy-img({
							wrap_mod: 'personal-history-detail-table__image',
							img: '/images/search-result-card.png'
						})
						.personal-history-detail-table__content
							.personal-history-detail-table__title Домашняя IP-камера видеонаблюдения Xiaomi 
							.personal-history-detail-table__code  Артикул:14515.4
					.personal-history-detail-table__head-item 
						.personal-history-detail-table__price 120.26 BYN
					.personal-history-detail-table__head-item 
						.personal-history-detail-table__count 2.шт
					.personal-history-detail-table__head-item 
						.personal-history-detail-table__price-mobile Общая сумма
						.personal-history-detail-table__price 240.26 BYN
				.personal-history-detail-table__head
					.personal-history-detail-table__head-item
						+lazy-img({
							wrap_mod: 'personal-history-detail-table__image',
							img: '/images/search-result-card.png'
						})
						.personal-history-detail-table__content
							.personal-history-detail-table__title Домашняя IP-камера видеонаблюдения Xiaomi 
							.personal-history-detail-table__code  Артикул:14515.4
					.personal-history-detail-table__head-item 
						.personal-history-detail-table__price 120.26 BYN
					.personal-history-detail-table__head-item 
						.personal-history-detail-table__count 2.шт
					.personal-history-detail-table__head-item
						.personal-history-detail-table__price-mobile Общая сумма
						.personal-history-detail-table__price 240.26 BYN
				.personal-history-detail-table__head
					.personal-history-detail-table__head-item
						+lazy-img({
							wrap_mod: 'personal-history-detail-table__image',
							img: '/images/search-result-card.png'
						})
						.personal-history-detail-table__content
							.personal-history-detail-table__title Домашняя IP-камера видеонаблюдения Xiaomi 
							.personal-history-detail-table__code  Артикул:14515.4
					.personal-history-detail-table__head-item 
						.personal-history-detail-table__price 120.26 BYN
					.personal-history-detail-table__head-item 
						.personal-history-detail-table__count 2.шт
					.personal-history-detail-table__head-item 
						.personal-history-detail-table__price-mobile Общая сумма
						.personal-history-detail-table__price 240.26 BYN
				.personal-history-detail-table__head
					.personal-history-detail-table__head-item
						+lazy-img({
							wrap_mod: 'personal-history-detail-table__image',
							img: '/images/search-result-card.png'
						})
						.personal-history-detail-table__content
							.personal-history-detail-table__title Домашняя IP-камера видеонаблюдения Xiaomi 
							.personal-history-detail-table__code  Артикул:14515.4
					.personal-history-detail-table__head-item 
						.personal-history-detail-table__price 120.26 BYN
					.personal-history-detail-table__head-item 
						.personal-history-detail-table__count 2.шт
					.personal-history-detail-table__head-item
						.personal-history-detail-table__price-mobile Общая сумма
						.personal-history-detail-table__price 240.26 BYN
	.personal-history-detail__block
		.personal-history-detail__total
			.personal-history-detail__prop Общий вес
			.personal-history-detail__val 2840 гр
			.personal-history-detail__prop Стомость доставки
			.personal-history-detail__val 0 BYN
			.personal-history-detail__prop НДС
			.personal-history-detail__val 0 BYN
			.personal-history-detail__prop.personal-history-detail__bold ИТОГО
			.personal-history-detail__val.personal-history-detail__bold 515.00 BYN
	.personal-history-detail__block
		.personal-history-detail__repeat-mobile
			a(href='#').btn.btn--color Повторить заказ
