+include-style('catalog')
+include-script('catalog')
.catalog
	+nav({
		mod: 'nav--catalog',
		list: [
			{ name: 'Бакалея', list: [
				{name: 'Крупа, бобы, отруби'},
				{name: 'Мука'},
				{name: 'Смеси для приготовления блюд'},
				{name: 'Бульоны и супы'},
				{name: 'Сахар и подсластители'},
				{name: 'Полезная соль'},
					{name: 'Смеси для приготовления блюд'},
				{name: 'Бульоны и супы'},
				{name: 'Сахар и подсластители'},
				{name: 'Полезная соль'},
				]
			},
			{name: 'Каши и завтраки',
				list: [
					{name: 'Каши'},
					{name: 'Мюсли'},
					{name: 'Прочие сухие завтраки'},
					{name: 'Хлопья'},
				]
			},
			{
				name: 'Сыры',
				list: [
					{name: 'Мягкие сыры'},
					{name: 'Твердые сыры'},
					{name: 'Тофу'},
				]
			},
				{
				name: 'Суперфуды',
				list: [
					{name: 'Баобаб'},
					{name: 'Годжи'},
					{name: 'Какао-бобы'},
					{name: 'Лукума'},
					{name: 'Растительные протеины'},
					{name: 'Спирулина'},
				]
			},
				{
				name: 'Японская кухня',
				list: [
					{name: 'Водоросли'},
				{name: 'Мисо'},
				{name: 'Нори'},
				{name: 'Приправы'},
				{name: 'Соба'},
				{name: 'Соусы'},
				]
			},

			{
				name: 'Мясные деликатесы',
				list: [
					{name: 'Прошуто'},
				{name: 'Салями'},
				{name: 'Колбасы'},
				{name: 'Хамон'},
				{name: 'Копчености и сыровяленные изделия'},
				{name: 'Паштеты'},
					{name: 'Колбасы'},
				{name: 'Хамон'},
				{name: 'Копчености и сыровяленные изделия'},
				{name: 'Паштеты'},
				]
			}

			,
			{
				name: 'Вегетарианские деликатесы',
				list: [
					{name: 'Колбасы'},
				{name: 'Микрозелень'},
				{name: 'Паштеты'},
				{name: 'Полуфабрикаты'},
				{name: 'Продукты на основе кокосового масла'},
				{name: 'Мейтан'},
				]
			}
			,
			{
				name: 'Продукты из молока и заменителей',
				list: [
					{name: 'Молоко'},
				{name: 'Растительное молоко'},
				{name: 'Кефир'},
				{name: 'Йогурт'},
				{name: 'Творожные продукты'},
				{name: 'Масло сливочное'},
					{name: 'Растительное молоко'},
				{name: 'Кефир'},
				{name: 'Йогурт'},
				{name: 'Творожные продукты'},
				{name: 'Масло сливочное'},
				]
			}
			,
			{
				name: 'Натуральные масла',
				list: [
					{name: 'Оливковое'},
				{name: 'Подсолнечное'},
				{name: 'Аргановое'},
				{name: 'Виноградное'},
				{name: 'Гхи'},
				{name: 'Из авокадо'},
				]
			},
				{ name: 'Бакалея', list: [
				{name: 'Крупа, бобы, отруби'},
				{name: 'Мука'},
				{name: 'Смеси для приготовления блюд'},
				{name: 'Бульоны и супы'},
				{name: 'Сахар и подсластители'},
				{name: 'Полезная соль'},
				]
			},
				{
				name: 'Каши и завтраки',
				list: [
					{name: 'Каши'},
				{name: 'Мюсли'},
				{name: 'Прочие сухие завтраки'},
				{name: 'Хлопья'},
				]
			},
			{
				name: 'Сыры',
				list: [
					{name: 'Мягкие сыры'},
				{name: 'Твердые сыры'},
				{name: 'Тофу'},
				]
			},
				{
				name: 'Суперфуды',
				list: [
					{name: 'Баобаб'},
				{name: 'Годжи'},
				{name: 'Какао-бобы'},
				{name: 'Лукума'},
				{name: 'Растительные протеины'},
				{name: 'Спирулина'},
				]
			},
				{
				name: 'Японская кухня',
				list: [
					{name: 'Водоросли'},
				{name: 'Мисо'},
				{name: 'Нори'},
				{name: 'Приправы'},
				{name: 'Соба'},
				{name: 'Соусы'},
				]
			},
		]
	})