@import "src/assets/css/vars_mixins/vars_mixins";

.catalog {
	padding      : 68px 138px;
	border       : 1px solid #E0E0E0;
	box-sizing   : border-box;
	box-shadow   : 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 4px;

}