extends ../../layout/layout

block vars
	- var pageTitle = 'Заказы'
	- var pageBodyClass = ''
	- var dir = './'


block main
	.container
		+breadcrumb({
			content2 : 'Каталог',
			href_content2: true,
			content3: 'Личный кабинет'
		})
		.row
			.col-lg-2
				include ../../components/personal-nav/personal-nav
			.col-lg-8
				+page-header-section({
					title: "Заказ №321-431",
					sidemenu: false
				})
				include ../../components/personal-history/personal-history-detail


block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)