extends ../../layout/layout

block vars
	- var pageTitle = 'Контакты'
	- var pageBodyClass = ''
	- var dir = './'


block main
	.container
		+breadcrumb({
			content2 : 'Контакты',

		})
		+page-header-section({
			title: "Контакты",
			sidemenu: false
			})
	include ../../components/contacts/contacts

block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)