+include-style('index-about')
+include-script('index-about')
section.index-about.section-margin
	.container
		.index-about__inner
			.index-about__left
				+lazy-img({
					img: '/images/index-about.jpg',
					placeholder: pixel
				})
			.index-about__right
				.index-about__title.fz-40 О магазине FASTER
				.index-about__descr.js-paragraph.fz-16
					p Мы любим электронику! Нам нравится следить за новинками и технологиями и делиться с вами всем самым интересным.
					p Мы поможем вам выбрать подходящий смартфон и аксессуар и расскажем все о технических характеристиках и особенностях моделей простым языком, чтобы вы сделали правильный выбор.
					p Поможем активировать устройство, сделать необходимые настройки, научим пользоваться.Вам понравится общаться с нами и делать у нас покупки!
					p В 2020 году мы запустим новые услуги – продажу техники в рассрочку без переплаты процентов и трейд-ин. При покупке одновременно смартфона и нескольких аксессуаров к нему, мы сделаем вам скидку. 
					p В 2020 году мы запустим новые услуги – продажу техники в рассрочку без переплаты процентов и трейд-ин. При покупке одновременно смартфона и нескольких аксессуаров к нему, мы сделаем вам скидку. 
					p В 2020 году мы запустим новые услуги – продажу техники в рассрочку без переплаты процентов и трейд-ин. При покупке одновременно смартфона и нескольких аксессуаров к нему, мы сделаем вам скидку. 
					p В 2020 году мы запустим новые услуги – продажу техники в рассрочку без переплаты процентов и трейд-ин. При покупке одновременно смартфона и нескольких аксессуаров к нему, мы сделаем вам скидку. 
				.show-more.fz-16.js-show-more
					span Развернуть
					+icon('i-small-arrow')(style="width:10px; height:10px")
