+include-style('seo-text')
.seo-text 
	.container
		.row
			.col-6.offset-2
				.seo-text__title Умная техника
				.seo-text__descr
					p Под умным домом понимается комплекс решений, позволяющих автоматизировать повседневные действия, избавляя владельца от рутины. Причем это скорее не набор устройств, которыми можно «командовать» удаленно, а единая система управления ими. Она обеспечивает конкретные преимущества пользователю, в том числе наглядность контроля, удобство, экономию сил и времени.
					p Такая экосистема (совокупность устройств и системы управления) должна без непосредственного участия человека выполнять определенные действия и задачи в ответ на конкретные ситуации. Так, если ночью ребенок вышел из своей комнаты, чтобы сходить в туалет, в коридоре, а затем и санузле умного дома автоматически загорится свет. Если в ванной комнате обнаружена протечка воды, то система предупредит об этом пользователя, а в идеале — сама перекроет подачу воды.
