+modal({
	id: 'modal-message',
	mod: 'modal-message modal-narrow',
	title: 'Написать сообщение',
	header: true
})
	form.bv-form
		+input({
			label: 'Ваше имя',
			fg_mod: 'form-group--margin',
			type: 'text',
			name: false,
			small: false,
			placeholder: '',
			required: true,
			validation: {
				message: 'Заполните поле',
				regexp: 'Неверный формат',
				emailaddress: ' ',
				identical: false
			}
		})
		+input({
			label: 'Email',
			type: 'email',
			fg_mod: 'form-group--margin',
			name: false,
			small: false,
			placeholder: 'example@example.com',
			required: true,
			pattern: '[A-Za-zА-Яа-я0-9\_\-]{1,}@[A-Za-zА-Яа-я0-9\_\-]{1,}\.[A-Za-zА-Яа-я0-9]{2,}',
			validation: {
				message: 'Заполните поле',
				regexp: 'Неверный формат',
				emailaddress: ' ',
				identical: false
			}
		})
		+textarea({
			fg_mod: 'form-group--margin',
			label: 'Комментарий',
			required: true,
		})
		+checkbox({
			fg_mod: 'form-group--margin',
			policy: true,
			require:true,
		})
		button(type="submit").btn.btn--primary.btn--fw Отправить


