+include-style('index-brands')
+include-style('index-brands')
+include-style('product-slider')
+include-script('product-slider')
section.index-brands.section-margin
	+index-presection({
		title: 'Бренды',
		link: false
	})
	.container
		.index-brands__inner
			+swiper({
				container_mod: 'product-slider__container',
				wrapper_mod: '',
				navigation: true,
				pagination: false,
			}).product-slider.product-slider--brand.js-slider-product
				.product-card-wrap
					.brand-card
						+link-full()
						.brand-card__inner
							.brand-card__image
								+lazy-img-slider({
									wrap_mod : 'brand-card__image-wrap',
									img: '/images/brand-1.png',
									placeholder: pixel,
								})
							.brand-card__content
								.brand-card__title Apple
								.brand-card__descr Американская корпорация, производитель электронной техники
				.product-card-wrap
					.brand-card
						+link-full()
						.brand-card__inner
							.brand-card__image
								+lazy-img-slider({
									wrap_mod : 'brand-card__image-wrap',
									img: '/images/brand-1.png',
									placeholder: pixel,
								})
							.brand-card__content
								.brand-card__title.fz-20 Apple
								.brand-card__descr Американская корпорация, производитель электронной техники
				.product-card-wrap
					.brand-card
						+link-full()
						.brand-card__inner
							.brand-card__image
								+lazy-img-slider({
									wrap_mod : 'brand-card__image-wrap',
									img: '/images/brand-1.png',
									placeholder: pixel,
								})
							.brand-card__content
								.brand-card__title.fz-20 Apple
								.brand-card__descr Американская корпорация, производитель электронной техники
				.product-card-wrap
					.brand-card
						+link-full()
						.brand-card__inner
							.brand-card__image
								+lazy-img-slider({
									wrap_mod : 'brand-card__image-wrap',
									img: '/images/brand-1.png',
									placeholder: pixel,
								})
							.brand-card__content
								.brand-card__title.fz-20 Apple
								.brand-card__descr Американская корпорация, производитель электронной техники
				.product-card-wrap
					.brand-card
						+link-full()
						.brand-card__inner
							.brand-card__image
								+lazy-img-slider({
									wrap_mod : 'brand-card__image-wrap',
									img: '/images/brand-1.png',
									placeholder: pixel,
								})
							.brand-card__content
								.brand-card__title.fz-20 Apple
								.brand-card__descr Американская корпорация, производитель электронной техники
				.product-card-wrap
					.brand-card
						+link-full()
						.brand-card__inner
							.brand-card__image
								+lazy-img-slider({
									wrap_mod : 'brand-card__image-wrap',
									img: '/images/brand-1.png',
									placeholder: pixel,
								})
							.brand-card__content
								.brand-card__title.fz-20 Apple
								.brand-card__descr Американская корпорация, производитель электронной техники
				.product-card-wrap
					.brand-card
						+link-full()
						.brand-card__inner
							.brand-card__image
								+lazy-img-slider({
									wrap_mod : 'brand-card__image-wrap',
									img: '/images/brand-1.png',
									placeholder: pixel,
								})
							.brand-card__content
								.brand-card__title.fz-20 Apple
								.brand-card__descr Американская корпорация, производитель электронной техники

