mixin checkbox(args={})
	+include-style('form-mixin')
	- var id = Math.floor(Math.random() * 9999999999)
	.form-group(class= args.fg_mod)
		.checkbox(class= args.wrap_mod)
			if (args.required)
				if (args.checked)
					input(type='checkbox', id= 'ID' + id, name= 'NAME' + id, value='active', required, data-bv-notempty-message="Заполните поле" checked class= args.input_mod)&attributes(attributes)
				else
					input(type='checkbox', id= 'ID' + id, name= 'NAME' + id, value='active' data-bv-notempty-message="Заполните поле" required class= args.input_mod)&attributes(attributes)

			else
				if (args.checked)
					input(type='checkbox', id= 'ID' + id, name= 'NAME' + id, value='active', checked class= args.input_mod)&attributes(attributes)
				else
					input(type='checkbox', id= 'ID' + id, name= 'NAME' + id, value='active' class= args.input_mod)&attributes(attributes)
			label(for= 'ID' + id class= args.label_mod)= args.label
				block
			if (args.sub)
				span.checkbox__descr я согласен на обработку 
					a(href='#') моих персональных данных
			if (args.policy)
				span.checkbox__descr Я согласен на обработку  <a href='#'> персональных данных </a> 
			if (args.sub2)
				span.checkbox__descr.checkbox__descr--mw  Заполняя данную форму, Вы даёте согласие (бессрочно) на сбор, обработку,  хранение, использование, передачу третьим лицам предоставленных  персональных данных для целей продления гарантии, проведения маркетинговых исследований о табачных изделиях и системах для потребления табака, а также для получения рекламы о системах для потребления табака glo™
			if (args.sub3)
				span.checkbox__descr.checkbox__descr--mw Подтверждаю участие в <a href=#> Рекламной игре</a>
			if (args.sublabel)
				span.checkbox__auth= args.sublabel