extends ../../layout/layout

block vars
	- var pageTitle = 'Новость'
	- var pageBodyClass = ''
	- var dir = './'


block main
	.container
		.row
			.col-10
				+breadcrumb({
						content2 : 'Регистрация'
				})
		.row 
			.col-10.col-lg-6.offset-lg-2
				+page-header-section({
					title: "Регистрация",
					sidemenu: false
				})
				include ../../components/registration/registration



block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)