h3 Картинка с оверлеем
.content-img.content-img--center
	.content-img--overlay
		img(src="https://source.unsplash.com/random/1500x650", alt="img")
	span.img-descr Картинка с оверлеем
hr

h3 Картинка с лезилоадом
+lazy-img({
	http: true,
	img: 'https://source.unsplash.com/random/935x290',
	placeholder: pixel,
	img_mod: '',
	wrap_mod: 'content-img content-img--center'
})
	span.img-descr Картинка с лезилоадом
hr
h3 Картинка с left центрированием
.content-img.content-img--left
	img(src="https://source.unsplash.com/random/600x450", alt="img")
	span.img-descr Кадр из фильма «Энни Холл»
p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут #[a(href="#") «Ведомости»]. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
p Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на
p Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на
p Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на

hr
h3 Картинка с right центрированием
.content-img.content-img--right
	img(src="https://source.unsplash.com/random/600x450", alt="img")
	span.img-descr Кадр из фильма «Энни Холл»
p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут #[a(href="#") «Ведомости»]. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.
p Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.

hr
h3 Картинка с center центрированием
.content-img.content-img--center
	img(src="https://source.unsplash.com/random/600x450", alt="img")
	span.img-descr Кадр из фильма «Энни Холл»
p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут #[a(href="#") «Ведомости»]. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.
p Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.

hr
h3 Картинка с center центрированием по атрибуту.
p #[img(src="https://source.unsplash.com/random/600x450", align="center", alt="img")] Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут #[a(href="#") «Ведомости»]. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.

hr
h3 Картинка с left центрированием по атрибуту.
p #[img(src="https://source.unsplash.com/random/600x450", align="left", alt="img")] Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут #[a(href="#") «Ведомости»]. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.

hr
h3 Картинка с right центрированием по атрибуту.
p #[img(src="https://source.unsplash.com/random/600x450", align="right", alt="img")] Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут #[a(href="#") «Ведомости»].
p Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости». Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года.

//hr
//h3 Видео
//+lazy-video({
//	src: 'video/video.mp4',
//	poster: 'video.png'
//}).video
//br
//hr
//h3 Youtube видео
//+lazy-video-youtube({
//	src: "https://www.youtube.com/embed/djV11Xbc914",
//}).video
