h3 Таблица 1
table
	tbody
		tr
			th(colspan="2") Общие характеристики
			th(colspan="2") Технические характеристики
		tr
			td.color Производитель
			td Xiaomi
			td.color Номинальная мощность
			td 1 800 Вт
		tr
			td.color Производитель
			td Xiaomi
			td.color Номинальная мощность
			td 1 800 Вт
		tr
			td.color Производитель
			td Xiaomi
			td.color Номинальная мощность
			td 1 800 Вт
		tr
			td.color Производитель
			td Xiaomi
			td.color Номинальная мощность
			td 1 800 Вт

