extends ../../layout/layout

block vars
	- var pageTitle = 'Главная'
	- var pageBodyClass = 'index'
	- var dir = './'


block main
	//- include ../../components/index-hero/index-hero
	//- include ../../components/index-utp/index-utp
	//- include ../../components/index-category/index-category
	//- include ../../components/product-slider/product-slider
	//- include ../../components/product-slider/product-slider-bg
	include ../../components/index-banners/index-banners
	//- include ../../components/product-slider/product-slider-news
	//- include ../../components/index-brands/index-brands
	//- include ../../components/index-about/index-about
	//- include ../../components/index-news/index-news
	//- include ../../components/instagram-section/instagram-section

block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)