+include-style('brand-inner')
+include-style('content')
.container
	.brand-inner
		.brand-inner__row
			.brand-inner__col.brand-inner__col--left
				.brand-inner__logo
					img(src="/local/templates/html/images/brand-inner-logo.png", alt="")
				.brand-inner__country США
				a(href="#").brand-inner__link https://www.mi.com
			.brand-inner__col.brand-inner__col--right
				.brand-inner__content.content
					p Компания Xiaomi была основана предпринимателем Лей Цзюнем в 2010 году под девизом - «инновации для всех».
					p Мы верим, что высококачественные продукты и передовые технологии должны быть доступны каждому.
					p При поддержке наших Mi фанов мы создаем удивительное аппаратное и программное обеспечение, а также различные Интернет-услуги.
					p Основываясь на их пожеланиях, мы постоянно расширяем ассортимент продукции, которая в настоящее время включает Mi и Redmi смартфоны,
					p Mi телевидение и телеприставки, Mi маршрутизаторы и продукты Mi Экосистемы, включая технологии для умного дома, предметы одежды и другие аксессуары.
					p Xiaomi уже работает в 30 странах и регионах, постепенно увеличивая свою географию присутствия, и становится по-настоящему глобальным брендом.
					+lazy-img({
						http: true,
						img: 'https://source.unsplash.com/random/866x483',
						placeholder: pixel,
						img_mod: '',
						wrap_mod: 'content-img content-img--center'
					})
						span.img-descr Картинка с лезилоадом
					p В каждом нашем продукте чувствуется Швейцария. Надпись «Сделано в Швейцарии» означает не только точность и скрупулезность. Она также означает, что люди, которые работают у нас, имеют хороший заработок. Это подтверждение того, что мы придерживаемся требований одного из самых строжайших в мире экологических законодательств, в единственной стране, в которой достоинство растений закреплено в конституции. Это значит, что нам не нужно отправлять контейнеры через мировой океан только для того, чтобы получить детали для нашей продукции с Дальнего Востока. Лучше мы сделаем их сами. Маркировка «Сделано в Швейцарии» — это часть нашего самосознания, которая определяет принципы нашей деятельности: осознанное отношение к вопросам охраны окружающей среды и ответственность перед обществом. И мы думаем, что это заметно.