+include-style('inner-page-catalog-section')
.inner-page-catalog-section
	.container
		.inner-page-catalog-section__inner
			.inner-page-catalog-section__title.fz-24 Товары в каталоге
			include ../catalog-targets/catalog-targets
			include ../catalog-product-list/catalog-product-list