+include-style('news-list')
+include-style('index-news')
.news-list
	.container
		.news-list__inner
			.news-card-wrap
				+news-card({
					img: '/images/news-card-1.jpg',
					title: 'Подарок к открытию мотосезона - 10%',
				})
			.news-card-wrap
				+news-card({
					img: '/images/news-card-2.jpg',
					title: 'Подарок к открытию мотосезона - 10% Подарок к открытиюПодарок к открытию мотосезона - 10%мотосезона - 10%',
					descr: 'Скоро открытие мотосезона! Поэтому мы подготовили отличное предложение для Скоро открытие мотосезона! Поэтому мы подготовили отличное предложение для всех, кто ждёт не дождётся, чтобы оседлать железного коня!  всех, кто ждёт не дождётся, чтобы оседлать железного коня! '
				})
			.news-card-wrap
				+news-card({
					img: '/images/news-card-3.jpg',
					title: 'Подарок к открытию мотосезона - 10%'
				})
			.news-card-wrap
				+news-card({
					img: '/images/news-card-4.jpg',
					title: 'Подарок к открытию мотосезона - 10%'
				})
			.news-card-wrap
				+news-card({
					img: '/images/news-card-5.jpg',
					title: 'Обзор беспроводных наушников Redmi Buds 3'
				})
			.news-card-wrap
				+news-card({
					img: '/images/news-card-6.jpg',
					title: 'Подарок к открытию мотосезона - 10%'
				})
			.news-card-wrap
				+news-card({
					img: '/images/news-card-7.jpg',
					title: 'Подарок к открытию мотосезона - 10%'
				})
			.news-card-wrap
				+news-card({
					img: '/images/news-card-8.jpg',
					title: 'Обзор беспроводных наушников Redmi Buds 3'
				})
			.news-card-wrap
				+news-card({
					img: '/images/news-card-9.jpg',
					title: 'Обзор беспроводных наушников Redmi Buds 3'
				})
			.news-card-wrap
				+news-card({
					img: '/images/news-card-10.jpg',
					title: 'Обзор беспроводных наушников Redmi Buds 3'
				})
			.news-card-wrap
				+news-card({
					img: '/images/news-card-11.jpg',
					title: 'Обзор беспроводных наушников Redmi Buds 3'
				})
			.news-card-wrap
				+news-card({
					img: '/images/news-card-12.jpg',
					title: 'Обзор беспроводных наушников Redmi Buds 3'
				})
		include ../pagination/pagination
	include ../seo-text/seo-text