extends ../../layout/layout

block vars
	- var pageTitle = 'Новость'
	- var pageBodyClass = ''
	- var dir = './'


block main
	.container
		.row
			.col-6.offset-2
				+breadcrumb({
					content2 : 'Обзор беспроводных наушников Redmi Buds 3'
				})
				+page-header-section({
					title: "Обзор беспроводных наушников Redmi Buds 3",
					sidemenu: false
				})
				include ../../components/news-article/news-article
	include ../../components/inner-page-catalog-section/inner-page-catalog-section



block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)