+include-style('brands-list')

mixin brand-card(args={})
	.brand-card-wrap
		.brand-card
			+lazy-img({
				wrap_mod: 'brand-card__front',
				img: args.img,
				placeholder: pixel
			})
			.brand-card__content
				.brand-card__back
					.brand-card__title Apple
					.brand-card__descr Американская корпорация, производитель персональных и планшетных компьютеров, аудиоплееров, смартфонов, программного обеспечения. Один из пионеров в области персональных компьютеров и современных многозадачных операционных систем с графическим интерфейсом. Штаб-квартира - в Купертино, штат Калифорния. Благодаря инновационным технологиям и эстетичному дизайну, корпорация Apple создала в индустрии потребительской электроники уникальную репутацию, сравнимую с культом.

.brands-list
	.container
		.brands-list__inner
			+brand-card({
				img: '/images/brand-1.png'
			})
			+brand-card({
				img: '/images/brand-2.png'
			})
			+brand-card({
				img: '/images/brand-3.png'
			})
			+brand-card({
				img: '/images/brand-3.png'
			})
			+brand-card({
				img: '/images/brand-1.png'
			})
			+brand-card({
				img: '/images/brand-2.png'
			})
			+brand-card({
				img: '/images/brand-3.png'
			})
			+brand-card({
				img: '/images/brand-3.png'
			})
			+brand-card({
				img: '/images/brand-1.png'
			})
			+brand-card({
				img: '/images/brand-2.png'
			})
			+brand-card({
				img: '/images/brand-3.png'
			})
			+brand-card({
				img: '/images/brand-3.png'
			})
			+brand-card({
				img: '/images/brand-1.png'
			})
			+brand-card({
				img: '/images/brand-2.png'
			})
			+brand-card({
				img: '/images/brand-3.png'
			})
			+brand-card({
				img: '/images/brand-3.png'
			})
		include ../pagination/pagination


