extends ../../layout/layout

block vars
	- var pageTitle = 'Корзина'
	- var pageBodyClass = ''
	- var dir = './'


block main
	.container
		.row
			.col-lg-8.offset-lg-1
				+breadcrumb({
					content2 : 'Корзина',
				})
				+page-header-section({
					title: "Спасибо, что сделали у нас заказ!",
					sidemenu: false
					})
				include ../../components/personal-history/personal-history-detail

block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)