+include-style('catalog-side-menu')
+include-script('catalog-side-menu')
.catalog-side-menu
	.catalog-side-menu__title.fz-18 Все категории
	.catalog-side-menu__nav
		+nav({
			mod: 'nav--side-catalog',
			list: [
				{name: 'Аксессуары', icon: {
					name: 'i-arrow-small',
					width: '12px',
					height: '12px'}, list: [
{name: 'Портативные устройства'},
{name: 'Беспроводные зарядные устройства'},
{name: 'Автомобильные зарядные устройства'},
	]},
		{name: 'Видеокамеры',icon: {
			name: 'i-arrow-small',
			width: '12px',
			height: '12px'}, list: [
		{name: 'Портативные устройства'},
		{name: 'Беспроводные зарядные устройства'},
		{name: 'Автомобильные зарядные устройства'},
	]},
		{name: 'Блоки питания и батареи',icon: {
			name: 'i-arrow-small',
			width: '12px',
			height: '12px'}, list: [
		{name: 'Портативные устройства'},
		{name: 'Беспроводные зарядные устройства'},
		{name: 'Автомобильные зарядные устройства'},
	]},
		{name: 'Видеорегистраторы',icon: {
			name: 'i-arrow-small',
			width: '12px',
			height: '12px'}, list: [
		{name: 'Портативные устройства'},
		{name: 'Беспроводные зарядные устройства'},
		{name: 'Автомобильные зарядные устройства'},
	]},
		{name: 'Зарядные устройства',icon: {
			name: 'i-arrow-small',
			width: '12px',
			height: '12px'}, list: [
		{name: 'Портативные устройства'},
		{name: 'Беспроводные зарядные устройства'},
		{name: 'Автомобильные зарядные устройства'},
	]},
		{name: 'Колонки',icon: {
			name: 'i-arrow-small',
			width: '12px',
			height: '12px'}, list: [
		{name: 'Портативные устройства'},
		{name: 'Беспроводные зарядные устройства'},
		{name: 'Автомобильные зарядные устройства'},
	]},
		{name: 'Наушники',icon: {
			name: 'i-arrow-small',
			width: '12px',
			height: '12px'}, list: [
		{name: 'Портативные устройства'},
		{name: 'Беспроводные зарядные устройства'},
		{name: 'Автомобильные зарядные устройства'},
	]},
		{name: 'Блоки питания и батареи',icon: {
			name: 'i-arrow-small',
			width: '12px',
			height: '12px'}, list: [
		{name: 'Портативные устройства'},
		{name: 'Беспроводные зарядные устройства'},
		{name: 'Автомобильные зарядные устройства'},
	]},
		{name: 'Видеорегистраторы',icon: {
			name: 'i-arrow-small',
			width: '12px',
			height: '12px'}, list: [
		{name: 'Портативные устройства'},
		{name: 'Беспроводные зарядные устройства'},
		{name: 'Автомобильные зарядные устройства'},
	]},
		{name: 'Зарядные устройства',icon: {
			name: 'i-arrow-small',
			width: '12px',
			height: '12px'}, list: [
		{name: 'Портативные устройства'},
		{name: 'Беспроводные зарядные устройства'},
		{name: 'Автомобильные зарядные устройства'},
	]},
		{name: 'Колонки', icon: {
			name: 'i-arrow-small',
			width: '12px',
			height: '12px'},list: [
		{name: 'Портативные устройства'},
		{name: 'Беспроводные зарядные устройства'},
		{name: 'Автомобильные зарядные устройства'},
	]},
		{name: 'Наушники', icon: {
			name: 'i-arrow-small',
			width: '12px',
			height: '12px'},list: [
		{name: 'Портативные устройства'},
		{name: 'Беспроводные зарядные устройства'},
		{name: 'Автомобильные зарядные устройства'},
	]},
		]
		})