+include-script('personal-nav')
.personal-nav
	+nav({
		mod: 'nav--personal',
		list: [
			{
				name: 'МОЙ ПРОФИЛЬ',
			},
						{
				name: 'История заказов',
				active: true,
			},
						{
				name: 'Избранные товары',
			}
		]
	})