+include-style('index-utp')
section.index-utp
	.container
		.index-utp__inner
			.index-utp__items
				.index-utp__item
					.index-utp
						+lazy-img({
							img: '/images/index-utp-1.svg',
							placeholder: pixel
						})
						.index-utp__title Большая сеть магазинов по всей стране
				.index-utp__item
					.index-utp
						+lazy-img({
							img: '/images/index-utp-2.svg',
							placeholder: pixel
						})
						.index-utp__title Прием заказов 24 часа в сутки
				.index-utp__item
					.index-utp
						+lazy-img({
							img: '/images/index-utp-3.svg',
							placeholder: pixel
						})
						.index-utp__title Бесплатная доставка по всей Беларуси
				.index-utp__item
					.index-utp
						+lazy-img({
							img: '/images/index-utp-4.svg',
							placeholder: pixel
						})
						.index-utp__title Подарки постоянным клиентам
				//- .index-utp__item
				//- 	.index-utp
				//- 		+lazy-img({
				//- 			img: '/images/index-utp-5.svg',
				//- 			placeholder: pixel
				//- 		})
				//- 		.index-utp__title Мы любим заботитьсяо каждом нашем клиенте
				//- .index-utp__item
				//- 	.index-utp
				//- 		+lazy-img({
				//- 			img: '/images/index-utp-6.svg',
				//- 			placeholder: pixel
				//- 		})
				//- 		.index-utp__title Дарим подарки и скидки нашим покупателям
				//- .index-utp__item
				//- 	.index-utp
				//- 		+lazy-img({
				//- 			img: '/images/index-utp-7.svg',
				//- 			placeholder: pixel
				//- 		})
				//- 		.index-utp__title Мы продаем только оригинальную продукцию
				//- .index-utp__item
				//- 	.index-utp
				//- 		+lazy-img({
				//- 			img: '/images/index-utp-7.svg',
				//- 			placeholder: pixel
				//- 		})
				//- 		.index-utp__title Подарки постоянным клиентам
