+include-style('index-category')
section.index-category.section-margin
	.container
		.index-category__inner
			+index-presection({
				title: 'Категории товаров'
			})
		.index-category__list.fz-28
			.index-category__item
				.index-category__image
					+lazy-img({
						img: '/images/index-catalog-2.png',
						placeholder: pixel
					})
				.index-category__title Смартфоны
			.index-category__item
				.index-category__image
					+lazy-img({
						img: '/images/index-catalog-1.png',
						placeholder: pixel
					})
				.index-category__title Телевизоры
			.index-category__item
				.index-category__image
					+lazy-img({
						img: '/images/index-catalog-3.png',
						placeholder: pixel
					})
				.index-category__title Ноутбуки
			.index-category__item
				.index-category__image
					+lazy-img({
						img: '/images/index-catalog-4.png',
						placeholder: pixel
					})
				.index-category__title Наушники
			.index-category__item
				.index-category__image
					+lazy-img({
						img: '/images/index-catalog-5.png',
						placeholder: pixel
					})
				.index-category__title Колонки
			.index-category__item
				.index-category__image
					+lazy-img({
						img: '/images/index-catalog-8.png',
						placeholder: pixel
					})
				.index-category__title Часы и фитнес браслеты
			.index-category__item
				.index-category__image
					+lazy-img({
						img: '/images/index-catalog-7.png',
						placeholder: pixel
					})
				.index-category__title Увлажнители
			.index-category__item.index-category__item-all Весь каталог
				.index-category__bg
