+include-style('news-article')
.news-article
	.news-article__date 27 октября 2020
	+include-style('content')
	.content
		img(src="https://picsum.photos/1920/500" alt="")
		p Уважаемые партнеры, спешим уведомить вас о нашей новинке - ручка SALT LAKE CITY. Это металлическая ручка, особенностью которой является наличие стилуса, который поможет вам в управлении вашими гаджетами. Также наш склад пополнился ручками Cosmo, являющимися одними из самых популярных моделей у наших покупателей. По желанию на товар производится нанесение логотипа, надписи или полноцветного изображения в короткие сроки, наши опытные дизайнеры выполнят макет бесплатно (кроме дизайна календарей и полиграфических макетов с нуля.) Наши курьеры бесплатно привезут образцы товара для ознакомления. Готовый заказ доставляется бесплатно* по Москве и Санкт-Петербургу до двери заказчика на нашем фирменном транспорте.
		img(src="https://picsum.photos/1920/500" alt="")
		p Уважаемые партнеры, спешим уведомить вас о нашей новинке - ручка SALT LAKE CITY. Это металлическая ручка, особенностью которой является наличие стилуса, который поможет вам в управлении вашими гаджетами. Также наш склад пополнился ручками Cosmo, являющимися одними из самых популярных моделей у наших покупателей. По желанию на товар производится нанесение логотипа, надписи или полноцветного изображения в короткие сроки, наши опытные дизайнеры выполнят макет бесплатно (кроме дизайна календарей и полиграфических макетов с нуля.) Наши курьеры бесплатно привезут образцы товара для ознакомления. Готовый заказ доставляется бесплатно* по Москве и Санкт-Петербургу до двери заказчика на нашем фирменном транспорте.