extends ../../layout/layout

block vars
	- var pageTitle = 'Бренды'
	- var pageBodyClass = ''
	- var dir = './'


block main
	.container
		+breadcrumb({
			content2 : 'Бренды',
			ref_content2: true,
			content3 : 'Xiaomi',
		})
		+page-header-section({
			title: "Xiaomi",
			sidemenu: false
			})
	include ../../components/brand-inner/brand-inner
	include ../../components/inner-page-catalog-section/inner-page-catalog-section

block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)