mixin product-card(args={})
	+include-script('mixin__product-card')
	+include-style('mixin__product-card')
	.product-card(class=args.mod)
		.product-card__inner
			.product-card__header.fz-14
				.product-card__header-left
					if (args.discount)
						+product-label({
							mod: 'product-card__discount',
							content: args.discount
						})
					if (args.new)
						+product-label({
							mod: 'product-card__label--blue',
							content: 'Новинка'
						})
					if (args.hit)
						+product-label({
							mod: 'product-card__label--green',
							content: 'Хит'
						})
					if (args.action)
						+product-label({
							mod: 'product-card__label--orange',
							content: 'Акция'
						})
					if (args.recommend)
						+product-label({
							mod: 'product-card__label--pink',
							content: 'Рекомендуем'
						})
				.product-card__header-right
					.product-card__favourites(class=args.favourites ? 'active' : '')
						+icon('i-heart-card-3')(style="width:22px; height:22px")
			.product-card__mid
				a(href="#").product-card__image
					if (args.slider)
						+lazy-img-slider({
							img: args.img,
							placeholder: pixel
						})
					else
						+lazy-img({
							img: args.img,
							placeholder: pixel
						})
				.product-card__status-wrap
					.product-card__status.fz-14
						.product-card__id Артикул:145154
						if (args.availability == 'available')
							+product-status({
								mod: 'product-card__availability--available',
								content: 'В наличии'
							})
						if (args.availability == 'order')
							+product-status({
								mod: 'product-card__availability--order',
								content: 'Под заказ'
							})
						if (args.availability == 'unavailable')
							+product-status({
								mod: 'product-card__availability--unavailable',
								content: 'Нет в наличии'
							})
				a(href="#").product-card__title.fz-18= args.title 
				if (args.availability == 'false')
					.product-card__stock
						.product-card__prices
							.product-card__price-current.fz-18 Нет в продаже
				else
					.product-card__stock
						.product-card__prices
							if (args.discount)
								.product-card__price-current.product-card__price--discount.fz-18 205.00 BYN
								.product-card__price-old.fz-15 244.00 BYN
						.product-card__cart
							.product-card__count 2
							+icon('i-cart-3')(style="width:26px; height: 22px")
			if (args.availability == 'unavailable' )
				.product-card__hover
					.product-card__footer
						.btn.btn--wide Подробнее
					.product-card__one-click.fz-16
						span Сообщить о поступлении
			else if(args.availability == 'available')
				.product-card__hover
					.product-card__footer
						+counter({
							value: 1
						})
						.product-card__add-to-cart
							.btn.btn--primary В корзину
					.product-card__one-click.fz-16
						+icon('i-cart')(style="width:28px; height: 28px")
						span Купить в 1 клик
			else if (args.availability == 'order')
				.product-card__hover
					.product-card__footer
						+counter({
							value: 1
						})
						.product-card__add-to-cart
							.btn.btn--color Под заказ
					.product-card__one-click.fz-16
						+icon('i-cart')(style="width:28px; height: 28px")
						span Купить в 1 клик
			else if (args.availability == 'false')
				.product-card__hover
					.product-card__footer
						.btn.btn--wide Посмотреть аналоги

