+modal({
	id: 'modal-login',
	mod: 'modal-login',
	dialog_mod: '',
	header: true,
})
	.modal-body__title.h32 Создать учётную запись
	.modal-body__check.h26 Пройдите проверку документов
	.modal-body__descr.h18 Подождите, идет проверка документов. <br> Обычно это занимает не более 10 сек.
	.modal-body__loader

