+include-style('product-slider')
+include-script('product-slider')
+include-style('instagram-section')

mixin instagram-card(args={})
	.instagram-card
		+link-full()
		.instagram-card__inner
			.instagram-card__header
				+lazy-img-slider({
					img: args.img,
					placeholder: pixel
				})

section.instagram-slider-section.section-margin
	+index-presection({
		title: '#Seon в Instagram',
		link: false
	})
	.container
		.news-slider-section__inner
			+swiper({
				container_mod: '',
				wrapper_mod: '',
				navigation: true,
				pagination: true,
			}).instagram-slider.js-slider-product
				.product-card-wrap
					+instagram-card({
						img: '/images/instagram-card-1.jpg',
					})
				.product-card-wrap
					+instagram-card({
						img: '/images/instagram-card-2.jpg',
					})
				.product-card-wrap
					+instagram-card({
						img: '/images/instagram-card-3.jpg',
					})
				.product-card-wrap
					+instagram-card({
						img: '/images/instagram-card-4.jpg',
					})
				.product-card-wrap
					+instagram-card({
						img: '/images/instagram-card-5.jpg',
					})
				.product-card-wrap
					+instagram-card({
						img: '/images/instagram-card-1.jpg',
					})
				.product-card-wrap
					+instagram-card({
						img: '/images/instagram-card-2.jpg',
					})
				.product-card-wrap
					+instagram-card({
						img: '/images/instagram-card-3.jpg',
					})
				.product-card-wrap
					+instagram-card({
						img: '/images/instagram-card-4.jpg',
					})
				.product-card-wrap
					+instagram-card({
						img: '/images/instagram-card-5.jpg',
					})

